# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.env
venv/
*.DS_Store

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Output
output/
dist/
__pycache__/
*.csv

# macOS
.DS_Store
.AppleDouble
.LSOverride